<!DOCTYPE html>
<html lang="en">
<head>
  <title>Padraig & Paulina's Cloud Compuing Project</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
  <link rel="stylesheet" href="/style/index1.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script defer src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js"></script>
  <script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
  <script defer src="https://unpkg.com/filepond/dist/filepond.js"></script>
  <script defer src="/javascripts/fileUpload.js"></script>
  <script type="application/javascript" src="//cdn.rawgit.com/Alorel/console-log-html/master/console-log-html.min.js"></script>
</head>
<body>

<div class="header">
  <h1>Cloud Computing Project</h1>
  <p>A <b>graphical</b> AWS IoT Device MQTT Client</p>
</div>

<div class="navbar">
  <form action="/home" method="GET" class="active">
    <button type="submit" class="link-button">Home</button>
  </form>
  <a href="/pages/about.html">About</a>
  <a href="/pages/contact.html">Contact</a>
  <form action="/appJS" method="GET">
    <button type="submit" class="link-button">app.js</button>
  </form>
  <form action="/indexJS" method="GET">
    <button type="submit" class="link-button">index.js</button>
  </form>
  <a href="/pages/login.txt">login.ejs</a>
  <a href="/pages/index.txt">index.ejs</a>
  <form action="/passport" method="GET">
    <button type="submit" class="link-button">passport-config.js</button>
  </form>
  <form action="/logout?_method=DELETE" metchod="POST" class="right">
    <button type="submit" class="link-button">Log Out</button>
  </form>
</div>

<div class="row">
  <div class="side">
    <h2>Hi <%= name %></h2>
    <h5>Avatar:</h5>
    <div class="avatar" style="height:200px;"></div>
    <h3>Incoming messages received</h3>
    <div class="message" style="height:60px;"><span  id="input">Message received: </span></div><br>
    <h3>Outgoing messages sent</h3>
    <div class="message" style="height:60px;"><span  id="output">Message published:</span></div><br>
  </div>
  <div class="main">
    <h2>Cloud Compuing Project</h2>
    <h5>A graphical AWS IoT MQTT Client, March 31, 2020</h5>
      <form action="/home" method="post" id="myForm">
        <label for="privateKey">Upload MQTT Authentification: Private Key</label>
        <input type="file" name="key" id="key" class="filepond" required>
        <label for="rootCA">Upload MQTT Authentification: Root CA</label>
        <input type="file" name="root" id="root" class="filepond" required>
        <label for="cert">Upload MQTT Authentification: Cert</label>
        <input type="file" name="cert" id="cert" class="filepond" required><br>
        <p>Now to enter credentials for AWS Device IoT connection..</p><br>
        <label for="host">AWS IoT Host Address:</label><br>
        <input type="text" id="host" name="host" width="100"><br><br><br>
        <label for="topic">Broker topic name to subscribe to:</label><br>
        <input type="text" id="topic" name="topic" width="100"><br><br>
        <label for="pub">Broker topic name to publish to:</label><br>
        <input type="text" id="pub" name="pub" width="100"><br><br>
        <label for="pub1">Message to publish:</label><br>
        <input type="text" id="pub1" name="pub1" width="100">
      </form>
      <br>
      <button type="button" id="submitBtn">Submit Form</button>
      <br><br>
      <% if (host != "") { %>
      Host:  <strong><%= host %></strong>
      <% } %>
      <br><br>
      <% if (topic != "") { %>
      Topic:  <strong><%= topic %></strong>
      <% } %>
      <br><br>
      <% if (root != "") { %>
      <strong>Root: </strong><br>  <%= root %>
      <% } %>
      <br><br>
      <% if (cert != "") { %>
      <strong>Cert: </strong><br>  <%= cert %>
      <% } %>
      <br><br>
      <% if (key != "") { %>
      <strong>Key: </strong><br>  <%= key %>
      <% } %>
      <br><br>
    </div>
  </div>
</div>
<div class="footer">
  <h4>Cloud Computing Project by Padraig & Paulina</h4>
</div>
<script>
  $(document).ready(function(){
    $("#submitBtn").click(function(){
      $("#myForm").submit(); // Submit the form
    });
  });

  function updateMessage(){
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        document.getElementById("input").innerHTML = this.responseText;
      }
    };
    xhttp.open("POST", "/getMessage", true);
    xhttp.send();
  }

  function sentMessage(){
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        document.getElementById("output").innerHTML = this.responseText;
      }
    };
    xhttp.open("POST", "/getPublished", true);
    xhttp.send();
  }

  window.setInterval(function(){
    updateMessage();
    sentMessage();
  }, 10000);

</script>
</body>
</html>
